@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');


$color-band: #75efff;
$color-bg: #101c31;
$color-font: #fff;
$color-border: #ccc;


$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;


$pm-15: 150px;
$pm-10: 100px;
$pm-8: 80px;
$pm-6: 60px;
$pm-5: 50px;
$pm-4: 40px;
$pm-2: 20px;
$pm-1: 10px;

$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 22px;
$h5: 20px;
$transition: all 0.3s ease-in-out;

.homeStories{

    .stories-header{
        .title-container{
            position: relative;
            overflow: hidden;

            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: rgba($color-band, $alpha: 0.1);
                bottom: 0;
            }
            .title{
                font-weight: 400;
                display: inline-block;
                background-color: rgba($color-band, $alpha: 0.1);
                padding: 10px;
            }
        }
    }
    .stories-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: clamp(15px, 5vw, 30px);
        @media (max-width: $medium) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $small) {
            grid-template-columns: 1fr;
        }
        .story{
            background-color: rgba($color-band, $alpha: 0.1);
            border-radius: 5px;
            overflow: hidden;
            &:hover{
                .img-container{
                    &::after{
                        opacity: 1;
                    }

                    .view-btn{
                        transform:translate(-50%, -50%) scale(1);
                    }
                }
            }
            .img-container{
                position: relative;
                overflow: hidden;
                padding-top: 80%;

                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color-bg, $alpha: 0.3);
                    top: 0;
                    left: 0;
                    z-index: 0;
                    transition: $transition;
                    opacity: 0;
                }
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }

                span{
                    position: absolute;
                    background-color: red;
                    top: 0;
                    right: 0;
                    background-color: rgba($color-bg, $alpha: 0.7);
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                }

                .types{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    padding: clamp(10px, 3vw, 20px);
                    z-index: 1;
                    ul{
                        li{
                            display: inline-block;
                            margin-right: clamp(10px, 3vw, 20px);
                            margin-bottom: clamp(10px, 3vw, 20px);

                            a{
                                display: block;
                                padding: 5px 10px;
                                background-color: $color-band;
                                color: $color-bg;
                                border-radius: 3px;
                                transition: $transition;
                                border: 1px solid $color-band;
                                font-size: clamp(12px, 3vw, 14px);
                                &:hover{
                                    background-color: $color-bg;
                                    color: $color-band;
                                    border: 1px solid $color-band;
                                }
                            }
                        }
                    }
                }

                .view-btn{
                    width: clamp(40px, 9vw, 50px);
                    height: clamp(40px, 9vw, 50px);
                    font-size: clamp(14px, 3vw, 18px);
                    background-color: $color-band;
                    color: $color-bg;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform:translate(-50%,-50%) scale(0);
                    transform-origin: center;
                    transition: $transition;
                    z-index: 2;
                    cursor: pointer;
                    border: 1px solid $color-band;
                    &:hover{
                        background-color: $color-bg;
                        color: $color-band;
                        border: 1px solid $color-band;
                    }
                }
            }

            .content{
                padding: clamp(10px, 3vw, 30px);

                .h4{
                    font-weight: 400;
                    cursor: pointer;
                    transition: $transition;

                    &:hover{
                        color: $color-band;
                    }
                }
            }
        }
    }
}